DJANGO_SECRET_KEY="YOUR_DJANGO_SECRET_KEY_HERE"

# 개발 환경에서는 True
# 운영 환경에서는 반드시 False
DJANGO_DEBUG=True

# 금감원 api
FSS_API_KEY=YOUR_FSS_API_KEY_HERE

EMAIL_HOST_USER=YOUR_EMAIL_HERE
EMAIL_HOST_PASSWORD=YOUR_PASSWORD_HERE

# GMS_KEY
GMS_KEY=YOUR_GMS_KEY_HERE